@page
@model MyBloggingRazorPage.Pages.CreateNewArticleModel
@{
    ViewData["Title"] = "ایجاد مقاله ی جدید";
}
<div class="col-12">
    @if (@Model.ErrorMessage != null)
    {
        <div class="alert alert-success">
            @Model.ErrorMessage
        </div>
    }
    @if (@Model.SuccessMessage != null)
    {
        <div class="alert alert-success">
            @Model.SuccessMessage
        </div>
    }
    <div class="col-6 mr-auto ml-auto text-center">
        <h1 class="border-bottom mb-3 text-primary">ایجاد مقاله ی جدید</h1>
    </div>
</div>
<form class="mr-auto ml-auto" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="@Model.Command.Title"></label>
            <input class="form-control" asp-for="@Model.Command.Title">
            <span class="text-danger" asp-validation-for="@Model.Command.Title"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="@Model.Command.Image"></label>
            <input class="form-control" asp-for="@Model.Command.Image">
            <span class="text-danger" asp-validation-for="@Model.Command.Image"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="@Model.Command.ImageAlt"></label>
            <input class="form-control" asp-for="@Model.Command.ImageAlt">
            <span class="text-danger" asp-validation-for="@Model.Command.ImageAlt"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="@Model.Command.ImageTitle"></label>
            <input class="form-control" asp-for="@Model.Command.ImageTitle">
            <span class="text-danger" asp-validation-for="@Model.Command.ImageTitle"></span>
        </div>
        <div class="form-group col-md-12">
            <label asp-for="@Model.Command.ShortDescription"></label>
            <textarea class="form-control" asp-for="@Model.Command.ShortDescription"></textarea>
            <span class="text-danger" asp-validation-for="@Model.Command.ShortDescription"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Command.Body"></label>
        <textarea rows="5" type="text" class="form-control" asp-for = "@Model.Command.Body"></textarea>
        <span class="text-danger" asp-validation-for="@Model.Command.Body"></span>
    </div>
    <button type="submit" class="btn btn-success">ارسال</button>
</form>